# Ignore ide files
.vscode/

# Ignore build files
build/
pySunlight.egg-info/

# Ignore virtual environment
venv/

# Ignore export folder
datas/export/
tilset_reader_output/
*.bkp

*.dtmp

datas/testing/junk.csv

tests/__pycache__/

datas/testing/junk_aggregate_result/

datas/testing/junk_computation/
